body{
  background-color: #f6f6f6;
}
.navegacao{
  margin-top: 20px;
}
.icon-bar{
  background: #303030;
}
.icon-bar > a:hover {
  background: rgba(255,255,255, 0.1); }
  .icon-bar > a:hover label {
    color: #FFFFFF; }
  .icon-bar > a:hover i {
    color: #FFFFFF; }
.icon-bar > a.active {
  background: rgba(255,255,255, 0.1); }
  .icon-bar > a.active label {
    color: #FFFFFF; }
  .icon-bar > a.active i {
    color: #FFFFFF; }
.barra{
  background-image: url(../img/borda.png);
  height: 40px;
}
.sub-title{
  font-size: 1.4375rem;
}
.lista1 li{
  list-style: none;
  padding: 10px;
}
.header{
  background-color: #303030;
}
.empresa{
  font-size: 36px;
  font-weight: bold;
  color: #d0ba42;
  margin-bottom: 0px;
}
.empresa2{
  font-size: 15px;
  font-weight: bolder;
  color:#fff
}

.rodape{
    background-color: #303030;
    color: #fff;
}

.rodape-text{
    font-size: 13px;
}

.logo{
    margin: 0px;
}
.size-30{
    font-size: 30px;
    padding-right: 10px;

}
.conf_envio{
    top: 300px;
}
.in-construction{
    font-size: 30px;
}
